**BOOK RECOMMENDATION SYSTEM USING ML**

Import Library/Access Drive for data read

In [1]:
pip install pandas

^C
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install numpy
pip install matplotlib

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'pandas'

**EDA PART**

In [ ]:
books=pd.read_csv('Books.csv')
users=pd.read_csv('Users.csv')
ratings=pd.read_csv('Ratings.csv')

<ipython-input-2-ec0b32407243>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('/content/drive/MyDrive/445projectData/Books.csv')

In [ ]:
books.head()

In [ ]:
# Modify the DataFrame in place
books.drop(['Image-URL-S', 'Image-URL-L'], axis=1, inplace=True)

books.shape

In [ ]:
books.head()

In [ ]:
ratings.head()

In [ ]:
users.head()

**Display shape of Dataframe**

In [ ]:
print("Info:")
print(books.info())
print(users.info())
print(ratings.info())

**Check Null Values**

In [ ]:
# Check for null values in the Books dataset
books_null = books.isnull().sum()
print("Null values in Books dataset:\n", books_null)

# Check for null values in the Users dataset
users_null = users.isnull().sum()
print("\nNull values in Users dataset:\n", users_null)

# Check for null values in the Ratings dataset
ratings_null = ratings.isnull().sum()
print("\nNull values in Ratings dataset:\n", ratings_null)

**Missing Data Handle**

In [ ]:
mean_value_column = users['Age'].mean()

# Fill missing values with the mean values of ages
users['Age'] = users['Age'].fillna(mean_value_column)

In [ ]:
users.head()

**After Handling missing data**

In [ ]:
# Check for null values in the Users dataset
users_null = users.isnull().sum()
print("\nNull values in Users dataset:\n", users_null)

In [ ]:
# Display data types of columns in the Books dataset
print("Data types in Books dataset:\n", books.dtypes)

# Display data types of columns in the Users dataset
print("\nData types in Users dataset:\n", users.dtypes)

# Display data types of columns in the Ratings dataset
print("\nData types in Ratings dataset:\n", ratings.dtypes)

In [ ]:
# Assuming 'books', 'users', and 'ratings' are your DataFrames
print("Books DataFrame:")
print(books.describe())

print("\nUsers DataFrame:")
print(users.describe())

print("\nRatings DataFrame:")
print(ratings.describe())

**Row drop for better ML performance**

In [ ]:
print("Book Shape: ")
print(books.shape)

print("User Shape")
print(users.shape)

print("Rating Shape")
print(ratings.shape)

In [ ]:
ratings['User-ID'].value_counts()

In [ ]:
ratings['User-ID'].unique().shape

In [ ]:
x=ratings['User-ID'].value_counts() > 100
x[x].shape

In [ ]:
y=x[x].index
y

**Removed the rows from "ratings DF" of the users who rated less than 100 book**

In [ ]:
ratings= ratings[ratings['User-ID'].isin(y)]
ratings.head(2)

In [ ]:
ratings.shape

**Merge Books with Ratings for for better understanding**

In [ ]:
merge_data = pd.merge(books, ratings, on='ISBN')
merge_data.shape

In [ ]:
merge_data.head(2)

**Now removing the rows of the books which are not rated more than 50 times**

In [ ]:
num_rating = merge_data.groupby('Book-Title')['Book-Rating'].count().reset_index()

In [ ]:
num_rating.head(2)

In [ ]:
num_rating.rename(columns={"Book-Rating": "num_of_rating"}, inplace=True)
num_rating.head()

In [ ]:
merge_data=merge_data.merge(num_rating, on='Book-Title')

merge_data.head()

In [ ]:
merge_data.shape

In [ ]:
merge_data.rename(columns={'num_of_rating_x': 'num_of_rating'}, inplace=True)
merge_data=merge_data[merge_data['num_of_rating']>=50]

In [ ]:
merge_data.head(3)

In [ ]:
merge_data.sample(5)

In [ ]:
merge_data.shape

In [ ]:
merge_data.drop_duplicates(['User-ID','Book-Title'],inplace= True)
merge_data.shape

In [ ]:
merge_data.head(2)

In [ ]:
book_pivot= merge_data.pivot_table(columns='User-ID', index='Book-Title',values='Book-Rating')
book_pivot

In [ ]:
book_pivot.shape

In [ ]:
book_pivot.fillna(0,inplace=True)
book_pivot

**Visiualization**

In [ ]:
books.head(10)

In [ ]:
sns.countplot(data=books, x='Year-Of-Publication', order=books['Year-Of-Publication'].value_counts().index[:10])
plt.title('Top Years of Publication for Books')
plt.xlabel('Year of Publication')
plt.ylabel('Count')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
# Get the top 20 years of publication
top_years = books['Year-Of-Publication'].value_counts().index[:10]

# Create a countplot for the top 20 years of publication
plt.figure(figsize=(8, 6))
ax = sns.countplot(data=books[books['Year-Of-Publication'].isin(top_years)],
                   x='Year-Of-Publication', order=top_years)

# Add count annotations on top of each bar
for p in ax.patches:
    ax.annotate(f'{p.get_height()}', (p.get_x() + p.get_width() / 2., p.get_height()), ha='center',
                va='center', xytext=(0, 10), textcoords='offset points')

plt.title('Top 10 Years of Publication for Books')
plt.xlabel('Year of Publication')
plt.ylabel('Count')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
# Count the number of books for each author
author_book_count = books['Book-Author'].value_counts().head(20)

# Create a bar plot for the top 10 authors
ax = sns.barplot(x=author_book_count.values, y=author_book_count.index, palette='viridis')

# Add count annotations on top of each bar
for p in ax.patches:
    ax.annotate(f'{p.get_width()}', (p.get_width(), p.get_y() + p.get_height() / 2),
                ha='left', va='center', xytext=(2, 0), textcoords='offset points')

plt.title('Top 20 Authors with Most Books')
plt.xlabel('Number of Books')
plt.ylabel('Author')
plt.show()

In [ ]:
# Count the number of books for each publisher
publisher_book_count = books['Publisher'].value_counts().head(20)

# Create a bar plot for the top 20 publishers
sns.barplot(x=publisher_book_count.values, y=publisher_book_count.index, palette='Set3')


plt.title('Top 20 Publishers with Most Books Published')
plt.xlabel('Number of Books Published')
plt.ylabel('Publisher')
plt.show()

In [ ]:
# Filter the 'users' DataFrame for ages up to 100
selected_users = users[users['Age'] <= 80]

# Set a custom color palette
custom_palette = sns.color_palette("pastel")

# Plotting a box plot for age distribution
plt.figure(figsize=(12, 4))
sns.boxplot(x=selected_users['Age'], color=custom_palette[3], width=0.8, fliersize=5)

# Add labels and title
plt.title('Box Plot of User Age Distribution')
plt.xlabel('User Age')
plt.ylabel('Age Distribution')

plt.show()

In [ ]:
selected_users = users[users['Age'] <= 80]

# Set a custom color palette
custom_palette = sns.color_palette("pastel")

# Plotting a histogram for age distribution
sns.histplot(selected_users['Age'], bins=30, color=custom_palette[2], kde=False)

# Add labels and title
plt.title('Histogram of User Age Distribution', fontsize=16)
plt.xlabel('User Age', fontsize=14)
plt.ylabel('Frequency', fontsize=14)

# Customize the axes
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)

# Show the plot
plt.show()

In [ ]:
# Now lets see the distrbution of the users by the country

# Let's extract the country from location column in the users dataset

countries = []
cond = users['Location'].str.split(',')

for cont in cond:

    countries.append(cont[-1])
# Now we have extracted the countries, let's assign the countries to the dataset

users['Country'] = countries
users.head()

In [ ]:
# Check for null values in the 'Country' column
null_countries = users['Country'].isnull().sum()

# Print the number of null values in the 'Country' column
print(f"There are {null_countries} null values in the 'Country' column.")

In [ ]:
unique_countries = users['Country'].unique()

# Print the number of unique countries
num_unique_countries = len(unique_countries)
print(f"There are {num_unique_countries} unique countries in the dataset.")

In [ ]:
# Get the original order of countries
original_order = users['Country'].unique()

# Get the top 10 countries without maintaining any specific order
top_countries = users['Country'].value_counts().reindex(original_order).head(10)

# Create a pie chart for the top 10 countries
plt.figure(figsize=(12, 10))
colors = sns.color_palette('pastel')
plt.pie(top_countries, labels=top_countries.index, autopct='%.1f%%', colors=colors, startangle=90)
plt.title('Top 10 Countries with Most Users (Pie Chart)')
plt.show()

In [ ]:
# Get the original order of countries
original_order = users['Country'].unique()

# Get the top 10 countries without maintaining any specific order
top_countries = users['Country'].value_counts().reindex(original_order).head(10)

# Create a line plot for the top 10 countries with a different color palette
sns.lineplot(x=top_countries.index, y=top_countries.values, marker='o', color='skyblue')
plt.title('Top 10 Countries with Most Users (Line Plot)')
plt.xlabel('Country')
plt.ylabel('Number of Users')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.grid(True)
plt.show()

In [ ]:
# Get the counts of each rating
rating_counts = ratings['Book-Rating'].value_counts()

# Plot a histogram (bar plot) for the distribution of book ratings
sns.barplot(x=rating_counts.index, y=rating_counts.values, palette='Paired')
plt.title('Distribution of Book Ratings')
plt.xlabel('Book Rating')
plt.ylabel('Number of Ratings')

# Add a line plot to represent the trend
sns.lineplot(x=rating_counts.index, y=rating_counts.values, color='Green', marker='o')

plt.show()

In [ ]:
rating_counts = ratings['Book-Rating'].value_counts()
plt.figure(figsize=(6, 30))
colors = sns.color_palette('Paired')
# Create pie chart
plt.pie(rating_counts, labels=rating_counts.index, colors=colors, autopct='%.0f%%')
plt.title('Distribution of Book Ratings')
plt.show()

In [ ]:

sns.countplot(x='Book-Rating', data=ratings, palette='pastel')
plt.title('Distribution of Book Ratings')
plt.xlabel('Rating')
plt.ylabel('Count')
plt.show()

In [ ]:
merge_data2=pd.merge(ratings, books, on='ISBN', how='inner')

In [ ]:
authors_top20 = books['Book-Author'].value_counts().head(10)
authors_top20 = list(authors_top20.index)
merge_data2.dropna(inplace=True)
top20_authors = pd.DataFrame(columns = merge_data2.columns)

for author in authors_top20:

    cond_df = merge_data2[merge_data2['Book-Author'] == author]

    top20_authors =  pd.concat([top20_authors, cond_df], axis=0)

    # There is no 0 rating, ratings is from 1-10 scale,
# then 0 means the book is not rated that it is not rated so we are excluding the zero rating from our data
top20_author = top20_authors[top20_authors['Book-Rating'] != 0]

In [ ]:
top20_author = top20_author.groupby('Book-Author')['Book-Rating'].agg('mean').reset_index().sort_values(by='Book-Rating', ascending=False)
top20_author.head()

In [ ]:
sns.barplot(x='Book-Author', y='Book-Rating', data=top20_author, palette='Paired')
plt.title('Average Rating of Books for Top 10 Authors')
plt.xlabel('Author')
plt.ylabel('Average Rating')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
pie_data = top20_author.groupby('Book-Author')['Book-Rating'].mean().reset_index()

plt.figure(figsize=(6, 5))
plt.pie(pie_data['Book-Rating'], labels=pie_data['Book-Author'], autopct='%1.1f%%', startangle=140)
plt.title('Average Rating Distribution of Top 10 Authors')
plt.show()

In [ ]:
publishers_top20 = books['Publisher'].value_counts().head(20)
publishers_top20 = list(publishers_top20.index)

top20_publishers = pd.DataFrame(columns = merge_data.columns)

for pub in publishers_top20:

    cond_df = merge_data[merge_data['Publisher'] == pub]

    top20_publishers =  pd.concat([top20_publishers, cond_df], axis=0)


top20_publishers = top20_publishers[top20_publishers['Book-Rating'] != 0]
top20_publishers = top20_publishers.groupby('Publisher')['Book-Rating'].agg('mean').reset_index().sort_values(by='Book-Rating', ascending=False)

top20_publishers.head()

In [ ]:
sns.barplot(x='Publisher', y='Book-Rating', data=top20_publishers, palette='Set2')
plt.title('Average Rating of Books for Top 20 Publishers')
plt.xlabel('Publisher')
plt.ylabel('Average Rating')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
#Merging the Users with the merge_data(merge of ratings and books) so that 3 CSV file become one dataframe and we can now connect with users for better understading of the dataset
df = pd.merge(merge_data, users, on='User-ID')
df.head()

In [ ]:
df_without_0_ratings=merge_data[merge_data['Book-Rating'] != 0]
df_without_0_ratings.head()

In [ ]:
most_rated_books = df_without_0_ratings['Book-Title'].value_counts().head(20)

sns.barplot(x=most_rated_books.values, y=most_rated_books.index, palette='viridis')
plt.title('Most Rated Books')
plt.xlabel('Number of Ratings')
plt.ylabel('Book Title')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.show()

In [ ]:
#top rated books
books_top20 = df_without_0_ratings['Book-Title'].value_counts().head(20)
books_top20 = list(books_top20.index)

top20_books = pd.DataFrame(columns = merge_data.columns)

for book in books_top20:

    cond_df = merge_data[merge_data['Book-Title'] == book]

    top20_books =  pd.concat([top20_books, cond_df], axis=0)


top20_books = top20_books[top20_books['Book-Rating'] != 0]
top20_books = top20_books.groupby('Book-Title')['Book-Rating'].agg('mean').reset_index().sort_values(by='Book-Rating', ascending=False)

top10_books = top20_books.head(10)
top10_books

In [ ]:
barplot = sns.barplot(x='Book-Rating', y='Book-Title', data=top20_books, palette='Set3')

# Display average rating values on each bar
for p in barplot.patches:
    barplot.annotate(f'{p.get_width():.2f}', (p.get_width(), p.get_y() + p.get_height() / 2.),
                     ha='center', va='center', fontsize=10, color='black', xytext=(2, 0),
                     textcoords='offset points')

plt.title('Average Rating of Top 20 Books')
plt.xlabel('Average Rating')
plt.ylabel('Book Title')
plt.show()

In [ ]:
#Correlation matrix
correlation_matrix = df.corr()

# Plot the correlation matrix as a heatmap
sns.heatmap(correlation_matrix, annot=True, cmap='cividis', fmt='.2f', linewidths=0.5)
plt.title('Correlation Matrix')
plt.show()

**Training**

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
book_sparse=csr_matrix(book_pivot)
book_sparse

In [ ]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [ ]:
model.fit(book_sparse)
NearestNeighbors(algorithm='brute')

In [ ]:
distance,suggestion=model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)
distance

In [ ]:
suggestion

In [ ]:
for i in range(len(suggestion)):
     print (book_pivot.index[suggestion[i]])

In [ ]:
book_pivot.index[3]

In [ ]:
book_pivot.index

In [ ]:
books_name=book_pivot.index

In [ ]:
import pickle
pickle.dump(model,open('/content/drive/MyDrive/445projectData/Model.pk1','wb'))
pickle.dump(books_name,open('/content/drive/MyDrive/445projectData/Model/books_name.pk1','wb'))
pickle.dump(merge_data,open('/content/drive/MyDrive/445projectData/Model/merge_data.pk1','wb'))
pickle.dump(book_pivot,open('/content/drive/MyDrive/445projectData/Model/book_pivot.pk1','wb'))

In [ ]:
def recommend(book_name):
   book_id=np.where(book_pivot.index==book_name)[0][0]
   distance,suggestion=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
   for i in range(len(suggestion)):
        books=book_pivot.index[suggestion[i]]
        for  j in books:
           print(j)

In [ ]:
book_name ='A Bend in the Road'
recommend(book_name)

In [ ]:
books.head(10)